<div class="container">
    <div class="row">
        <div class="col-8">

            <div class="card bg-light">
                <div class="card-body">
                    <div class="display-4 text-center p-3">
                        I.E.C.A
                    </div>
                    <p class="lead text-center h3">Sociedade Média da Nova Estrela</p>
                    <hr>
                    <p>Pagina oficial da Sociedade Média Joyce do pastorado de Nova estrela, provincia do Bié, município
                        sede (Cuito)</p>
                    <p>Informações, + Estudos Bíblico</p>
                    <button class="btn btn-primary">Junta - te a nós</button>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-4 ">
            <div class="text-center">
                <h3 class="bg-dark text-center p-1 text-light">Ultimas informações</h3>
            </div>
            <hr>
            
        </div>
    </div>
</div>