<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <h2>Login:</h2>
                <hr>
                <div class="card-body">
                    <form action="/auth/login" method="post">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" required class="form-control">
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" required class="form-control">

                        <button type="submit" class="btn btn-primary mt-3 form-control">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>