<h2>Criar conta</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/user/criar" method="post">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" class="form-control">
                <label for="usernome">Usuario:</label>
                <input type="text" name="usernome" class="form-control">
                <label for="usernome">Nº BI:</label>
                <input type="text" name="bi" class="form-control">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" class="form-control">
                <label for="senha">Repe a senha:</label>
                <input type="password" name="senha2" class="form-control">
                <label for="imagem">Telifone:</label>
                <input type="text" name="telefone" class="form-control">
                <label for="backg name="background" class="form-control">

                <button type="submit" class="btn btn-primary mt-3">Criar usuario</button>
            </form>
        </div>
    </div>
</div>
<hr>
<h3>EDITAR</h3>
<div class="container">
                <div class="row">
                    <div class="col-6 offset-3">
                        <form action="/user/editar" method="GET">
                            <input type="text" name="id2" placeholder="insere um id" class="form-control">
                            <button type="submit" class="btn btn-dark mt-1">Editar</button>
                        </form>
                    </div>
                </div>
            </div>